@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.main-container {
  min-height: calc(100vh - 72px);
}

.formRow {
  min-height: calc(100vh - 72px);
}

nav {
  z-index: 5;
}

.badge {
  max-height: 26px;
}

#error404svg {
  max-width: 500px;
}

#emptycartsvg {
  width: 300px;
}

#profilePhoto {
  width: 200px;
  border-radius: 50%;
}

.isLoading {
  z-index: 6;
  position: absolute;
  height: 100vh;
}

.star {
  font-size: 30px;
  cursor: pointer;
}

.on {
  color: #FFB81C;
}
.off {
  color: #ccc;
}


/* custom classes */
.bg-main{
  background-color: #FCF8E8;
}

.bg-support {
  background-color: #D4E2D4;
}

.bg-accent {
  background-color: #722817;
}

.bg-second {
  background-color: #ECB390;
}


.text-main {
  color: #DF7861;
}

.text-secondary {
  color: #FCF8E8 !important;
}

.text-secondary:hover, a.active {
  text-decoration: underline;
}

.text-main:hover {
  color: #874C62;
}

.text-accent {
  color: #DF7861;
}

.price-badge {
  font-size: 24px;
  width: fit-content;
  border-radius: 5px;
  color: white;
  background-color: #FFB81C;
}

.product-card {
  box-shadow: 0px 10px 12px rgba(207, 204, 191, 1);
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-overlay {
  color: #FCF8E8;
  background-color: #DF7861;
  padding: 5px;
}

.hide-card-overlay {
  display: none;
}

.show-card-overlay {
  display: block;
}

.star-rating {
  color: gold;
}


.btn-accent {
  color: white;
  background-color: #DF7861;
  border: 0;
  border-radius: 0px;
}

.btn-accent:hover {
  color: #FCF8E8;
  background-color: #722817;
  border: 0;
  border-radius: 0px;
}

.btn-support {
  color: #FCF8E8;
  background-color: #722817;
  border: 0;
  border-radius: 0px;
}

.btn-support:hover {
  color: #722817;
  background-color: #D4E2D4;
  border: 0;
  border-radius: 0px;
}



img {
  cursor: pointer;
  max-width: 600px;
}

.product-view-text {
  color: #FCF8E8;
  min-height: 100%;
  background-color: #DF7861;
}

.back-btn:hover, .card-title:hover {
  cursor: pointer;
}

.home-container {
  height: calc(100vh - 72px);
}

.brew img {
  width: 1320px;
  height: 500px;
  max-height: 500px;
}

.list-group-item {
  cursor: pointer;
}